#mainbox {
    color: #1d3557;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3rem;
    padding: 3rem;
}
#error {
    color: #1d3557;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20rem;
}
.err {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.navLinkErr:link {
    color: #1d3557;
    text-decoration: none;
}
.navLinkErr:visited {
    color: #1d3557;
    text-decoration: none;
}