/* dark: #1d3557 */
/* middle: #6e8cb5 */
/* light: #f7f7ff */

.task-table {
    border-collapse: collapse;
    font-size: 1em;
    width: 100%;
    height: auto;
}
.task-table thead tr {
    background-color: #6e8cb5;
    color: #1d3557;
    text-align: left;
}
.task-table th,
.task-table td {
    padding: 12px 15px;
}

.task-table tbody tr {
    background-color: #f7f7ff;
    border-bottom: 1px solid #dddddd;
}
