/* dark: #1d3557 */
/* middle: #6e8cb5 */
/* light: #f7f7ff */

#success {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    text-align: center;
}

#create-task-form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#left-create,
#right-create {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    margin: 1rem;
}
.label-input {
    display: flex;
    flex-direction: column;
    margin: 0.25rem;
}

.create-task-input {
    color: #1d3557;
    padding: 0.5rem;
    margin: 0.25rem;
    width: 100%;
    height: auto;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
    overflow-wrap: break-word;
}
.create-task-input:hover {
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, 0.7), 0 0 0 5px #1d3557;
}
.create-task-input:focus {
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, 0.4), 0 0 0 5px #1d3557;
}

#create-task-description {
    min-height: 10rem;
}

.only-edit {
    display: none;
}
