/* dark: #1d3557 */
/* middle: #6e8cb5 */
/* light: #f7f7ff */

body {
    margin: 0%;
    padding: 0%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #1d3557;
    overflow: hidden; /* too hide chrome scrollbar*/
}

/* Container for top bar with logo and log out btn*/
header {
    background-color: #6e8cb5;
    padding-left: 1rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Container for sidenav and main content */
main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #6e8cb5;
    height: calc(100vh - 3rem);
    width: auto;
    font-size: 1.5rem;
}
#content {
    background-color: #f7f7ff;
    padding: 0rem 2rem;
    height: calc(100vh - 3rem);
    width: 100%;
    overflow-y: auto;
}

.main {
    background: #f7f7ff;
    color: #1d3557;
    margin: 2rem;
    padding: 1rem;
}

.title-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Logo styling */
#logo {
    padding: 0.5rem;
}
.logoLink:link {
    color: #1d3557;
    text-decoration: none;
}
.logoLink:visited {
    color: #1d3557;
    text-decoration: none;
}
.logoLink:hover {
    text-decoration: none;
    color: #1d3557;
}

/*Nav styling*/
#navList {
    list-style: none;
}
.navListSuper {
    padding: 2rem 4rem 0rem 0rem;
}
.navListSub {
    padding: 0.2rem 0rem 0rem 0rem;
}
.subLink {
    font-size: 1rem;
}

.navLink:link {
    color: #f7f7ff;
    text-decoration: none;
}
.navLink:visited {
    color: #f7f7ff;
    text-decoration: none;
}
.navLink:hover {
    color: #1d3557;
    text-decoration: none;
}

.navLinkActive:link {
    color: #1d3557;
    font-weight: bold;
    text-decoration: none;
}
.navLinkActive:visited {
    color: #1d3557;
    font-weight: bold;
    text-decoration: none;
}
.navLinkActive:hover {
    color: #1d3557;
    font-weight: bold;
    text-decoration: none;
}

.btn {
    float: right;
    width: 8rem;
    height: 2rem;
    font-weight: bold;
    color: #fff;
    background-color: #6e8cb5;
    border-style: none;
    border-radius: 1rem;
    cursor: pointer;
}

.table-btn {
    width: 4rem;
    height: 2rem;
}
