/* imperial red: #E63946 */
/* less harsh #ff6666 */
/* honeydew: #F1FAEE */
/* powder blue: #A8DADC */
/* iceladon blue: #457B9D */
/* prussian blue: #1D3557 */
/* ghost white: #F7F7FF */
body {
    margin: 0%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #1d3557;
    overflow: hidden; /* too hide chrome scrollbar*/
}

/* Container for top bar with logo and log out btn*/
header {
    background-color: #1d3557;
    padding-left: 1rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Container for sidenav and main content */
main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
#sidenav {
    background-color: #1d3557;
    padding-right: 2rem;
    height: calc(100vh - 3rem);
    width: auto;
}
#content {
    background-color: #ff6666;
    height: calc(100vh - 3rem);
    width: 100%;
    padding: 0rem 3rem;
    overflow-y: scroll;
}

/* Logo styling */
#logoDiv,
a {
    display: flex;
    align-items: center;
}
#logo {
    padding: 0.5rem;
}
.logoLink:link {
    color: #f7f7ff;
    text-decoration: none;
}
.logoLink:visited {
    color: #f7f7ff;
    text-decoration: none;
}
.logoLink:hover {
    text-decoration: none;
    color: #f7f7ff;
}
.logoLink:active {
    text-decoration: none;
    color: #f7f7ff;
}

/*Nav styling*/
#navList {
    list-style: none;
}
#navList,
li {
    padding: 1rem;
}
.navLink:link {
    color: #f7f7ff;
    text-decoration: none;
}
.navLink:visited {
    color: #f7f7ff;
    text-decoration: none;
}
.navLink:hover {
    color: #ff6666;
    text-decoration: none;
}
.navLink:active {
    color: #ff6666;
    text-decoration: none;
}

.navLinkActive:link {
    color: #ff6666;
    text-decoration: none;
}
.navLinkActive:visited {
    color: #ff6666;
    text-decoration: none;
}
.navLinkActive:hover {
    color: #ff6666;
    text-decoration: none;
}
.navLinkActive:active {
    color: #ff6666;
    text-decoration: none;
}
