/* dark: #1d3557 */
/* middle: #6e8cb5 */
/* light: #f7f7ff */

.a-ref {
    font-size: x-large;
    width: 2rem;
    height: 2rem;
}
.a-ref:hover {
    cursor: pointer;
}
.tooltip {
    display: flex;
}

.tooltip .tooltiptext {
    visibility: hidden;
    text-align: center;
    border-radius: 2rem;
    padding: 0.5rem;
    align-self: end;
    justify-self: start;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
